.aboutus-container {
  position: relative;
  width: 100%;
  height: 170vh;
}

.aboutus-swirl {
  height: 130vh;
  margin-top: 4rem;
  background-image: url(/visuals/patterns/swirl/swirl_1_ny_alternative_green.svg);
  background-repeat: no-repeat;
  background-size: 250vh;
  background-position: center bottom;
  margin-bottom: 2rem;
}
.aboutus-swirl--rotated {
  height: 130vh;
  margin-top: 4rem;
  background-image: url(/visuals/patterns/swirl/swirl_1_ny_green_1.svg);
  background-repeat: no-repeat;
  background-size: 250vh;
  background-position: center bottom;
  margin-bottom: 2rem;
}

.aboutus-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 5%;
}

.aboutus-text {
  width: 40%;
  margin-right: 2rem;
}

.aboutus-img {
  display: flex;
  width: 100%;
  height: auto;
}

.aboutus-img-wrapper {
  display: flex;
  width: 30rem;
  height: 25rem;
  overflow: hidden;
}
.aboutus-img--small {
  width: 100%;
  object-fit: cover;
}
