.contactus-container {
  margin: 5% auto;
}

.contactus-container h2 {
  margin-bottom: 4%;
}

/* .contactus-text {
  width:;
} */

.contactus-text h6 {
  font-weight: 900;
}

.contactus-content {
  display: flex;
  flex-direction: row;
 gap: 2%;
}
.swirl-pattern {
  height: 45vh;
}

.contactus-text-container {
  flex: 1;
}

.contactus-text {
  margin-bottom: 2rem;
}

.contactus-img {
  flex: 0 0 500px;
}

.contactus-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

 .customer-form-container {
  width: 70%;

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contactus-content {
    flex-direction: column;
    align-items: center;
  }
  .contactus-img {
    width: 100%;
  }
}
