.contactus-container {
  margin-top: 5%;
}

.contactus-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  height: 80vh;
  width: 100%;
}

.contactus-container h2 {
  margin-bottom: 3rem;
}
.contactus-text h6 {
  margin-bottom: 1rem;
}
.contactus-text {
  width: 100%;
}

.contactus-content {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.swirl-pattern {
  height: 45vh;
}

.contactus-text {
  margin-bottom: 2rem;
}

.contactus-img {
  flex: 0 0 600px;
}

.contactus-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.customer-form-container--small {
  margin-top: 3rem;
  width: 70%;
}
.customer-form-container--small h3 {
  font-size: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contactus-content {
    flex-direction: column;
    align-items: center;
  }
  .contactus-img {
    width: 100%;
  }
}
