:root {
    /* Färgpalett */
    --primary-green: #1d4231;
    --secondary-green: #44725a;
    --secondary-lightgreen: #b5d4ae;
    --secondary-brown: #a98968;
    --secondary-off-white: #faf7eb;
    --primary-new: #44725a;
  
    /* Monokrom */
    --monochrome-darkest: #101e17;
    --monochrome-dark: #192b22;
    --monochrome-medium: #374f43;
    --monochrome-light: #d1dbd6;
    --monochrome-lightest: #f0f2f1;
    --monochrome-white: #ffffff;
  }


.body {
    width: 100%;
}

.order {
    margin: 10% 6% 0% 6%;
}

.order .breadcrumb {
    margin: 1rem 0rem 2rem 0rem;
}

.order-container {
    display: flex;
    gap: 1.5rem;
    margin: 4rem 0rem 4rem 0rem;
}

.order-list-item {
    display: flex;
    justify-content: space-between;
}

.item-wrapper {
    display: flex;
}

.item-image {
    width: 20%;
    margin: 0rem 1rem 0rem 0rem;
}

.item-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
}

.item-group-2 p {
    margin: 0;
}

.item-delete {
    border: none;
    background-color: transparent;
    color: red;
    text-decoration: underline;
}
/* 
.amount {

} */

.amount-input {
    width: 4rem;
    text-align: center;
    background-color: var(--monochrome-white);
    border: 2px solid var(--monochrome-light);
}

.item-group-1 div {
    display: inline-block;
    width: 20px;
    background-color: var(--monochrome-white);
    border: solid 2px var(--monochrome-light);
}

.add {
    margin-left: -15px;
}

.order-list {
    width: 60% ;
    margin-top: 2;
}

.order-sum {
    width: 40%;
}

.sum-price {
    display: flex;
    justify-content: space-between;
}

/* Sätter text till bold */

.bold {
    font-weight: 700;
}
