.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

/* Text block */
.product-text-container {
  grid-column: 2;
  margin-top: 2rem;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}
.product-text-container h4,
.product-text-container p {
  width: 100%;
}

.product-img-container {
  margin-top: 2rem;
  max-width: 34rem;
  margin-left: 5%;
  margin-right: 5%;
}

.product-img-certificates img {
  width: 4.2rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
  height: auto;
}

/* Large image styling */
.product-img--large {
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.product-img-wrapper--small {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  width: 100%;
  cursor: pointer;
}

/* Small images styling */
.product-img--small {
  width: 100%;
  max-width: 30%;
}

/* Styling added with javascript, when product img is changed by user */
.product-display-img {
  object-fit: cover;
}

/* Quantity button for product */
.button-quantity {
  display: flex;
  border-radius: 0.7rem;
  overflow: hidden;
  width: 16rem;
  height: 3rem;
  border: 2px solid var(--primary-new);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.button-quantity button {
  background-color: var(--primary-new);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 16rem;
  height: auto;
  text-align: center;
  transition: background-color 0.2s;
}

.input-box {
  text-align: center;
  border: none;
  padding: 8px 19px;
  outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
}

.product-text-container .button-primary,
.product-text-container .button-secondary {
  width: 40%;
  text-align: center;
}

/* Expan products menu */

.products-menu {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.products-icon {
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.product-menu-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--primary-new);
}

.product-menu-item.expanded {
  border: none;
}

.product-menu-arrow {
  display: flex;
}

.product-info--hidden {
  display: none;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--primary-new);
}

.product-info--hidden.show {
  display: block;
  flex-direction: column;
}

.arrow--small {
  cursor: pointer;
  transition: transform 0.3s;
}

.arrow--small.rotated {
  transform: rotate(180deg);
}

/* Related products */
.related-products {
  margin-top: 3.5rem;
  margin-left: 5%;
  margin-bottom: 5rem;
  overflow: hidden;
}

.card-container--related {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.card-container--related .card {
  flex: 1 1 24%;
  max-width: 24%;
}

/* alert box for order list */
.alert-box-container {
  display: flex;
  flex-direction: column;
  border: var(--monochrome-light);
  padding-top: 1rem;
  padding-left: 2rem;
  width: 28rem;
  height: 18rem;
  background-color: var(--primary-green);
  display: none;
  position: absolute;
  top: 26%;
  left: 82%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.alert-box-content {
  margin-top: 1rem;
  width: 75%;
}

.alert-box-details {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.alert-box-details p {
  margin-left: 1rem;
}

.alert-box-container button {
  margin-top: 1rem;
}

.alert-box-img img {
  width: 5rem;
  object-fit: contain;
}

/* Order bag icon */
.icon-orderbag--amount {
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-new);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 5%;
  right: 60px;
}

.icon-orderbag--amount p {
  position: absolute;
  top: 2%;
  font-size: 0.7rem;
}

@media screen and (max-width: 1200px) {
  .product-text-container {
    width: 100%;
  }
  .product-text-container .button-primary,
  .product-text-container .button-secondary {
    width: 40%;
    text-align: center;
  }

  .icon-orderbag--amount {
    top: 3.5%;
  }

  .icon-orderbag--amount p {
    top: 3%;
  }

  .alert-box-container {
    top: 21%;
    left: 78%;
  }

  .card-container--related .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .product-img-certificates img {
    width: 3.2rem;
    height: auto;
  }

  .product-text-container {
    width: 90%;
  }

  .product-img-container {
    width: 90%;
    margin-right: 2rem;
  }

  .icon-orderbag--amount {
    width: 0.7rem;
    height: 0.7rem;
    top: 3.5%;
  }

  .icon-orderbag--amount p {
    font-size: 0.4rem;
  }

  .product-text-container .button-primary,
  .product-text-container .button-secondary {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .products-menu {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .icon-orderbag--amount {
    width: 1rem;
    height: 1rem;
    top: 4%;
    right: 112px;
  }

  .icon-orderbag--amount p {
    top: 2%;
    font-size: 0.7rem;
  }

  .alert-box-container {
    padding-top: 2rem;
    padding-left: 2rem;
    width: 25rem;
    height: 20rem;
    top: 24%;
    left: 62%;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    overflow: hidden;
  }
  .product-img-container {
    grid-column: 1;
    max-width: 100%;
  }

  .product-text-container {
    grid-column: 1;
    width: 90%;
  }

  .product-img--large {
    width: 100%;
    margin-bottom: 1rem;
  }

  .product-img-wrapper--small {
    display: flex;
  }

  .product-img--small {
    max-width: 48%;
    margin-bottom: 1.5rem;
  }

  .product-text-container .button-primary,
  .product-text-container .button-secondary {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .product-menu-container {
    width: 90%;
  }

  .products-menu {
    margin-top: 5rem;
    width: 100%;
  }

  .button-quantity {
    height: 3rem;
  }

  .input-box {
    padding: 20px 30px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .product-text-container .button-primary,
  .product-text-container .button-secondary {
    width: 90%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .product-text-container p {
    width: 90%;
  }

  .product-menu-container {
    width: 90%;
  }

  .related-products {
    width: 90%;
  }
}
