body {
    width: 100%;
  }

.category-description {
    width: 50%;
    margin: 4rem 0rem 4rem 0rem;
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {

    
}

@media screen and (max-width: 768px) { 



}

@media screen and (max-width: 576px) {

}
