/* .category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0%;
    margin: 0;
} */


.category-text {
    width: 80%;
    text-align: center;
    
}


@media screen and (max-width: 992px) {

    .catalogue-category a {
        width: calc((100% - 1.5rem) / 2);
    }

    .catalogue-category a:nth-child(5) {
        width: 100%;
    }
}
