:root {
  /* Färgpalett */
  --primary-green: #1d4231;
  --secondary-green: #44725a;
  --secondary-lightgreen: #b5d4ae;
  --secondary-brown: #a98968;
  --secondary-off-white: #faf7eb;
  --primary-new: #44725a;

  /* Monokrom */
  --monochrome-darkest: #101e17;
  --monochrome-dark: #192b22;
  --monochrome-medium: #374f43;
  --monochrome-light: #d1dbd6;
  --monochrome-lightest: #f0f2f1;
  --monochrome-white: #ffffff;
}

/* Förinställningar för hela sidan*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-off-white);
  font-family: "stolzl", sans-serif;
}

/* Färg klasser för text */
.text-color-offwhite {
    color: var(--secondary-off-white);
}

.text-color-primary {
    color: var(--primary-new)
}

.text-color-medium {
    color: var(--monochrome-medium)
}

.text-color-dark {
    color: var(--monochrome-dark)
}

.text-color-dark-2 {
  color: var(--primary-green);
}


/* Border-radius klass*/
.round-corner {
  border-radius: 10px;
}

/* font stilar */

/* Textstyles för rubriker och brödtext*/
h1, h2, h3, h4, h5, h6, p {
 color: var(--secondary-off-white);
}

h1 {
  font-size: 3.815rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 3.052rem;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 2.441rem;
}
h4 {
  font-size: 1.953rem;
}
h5 {
  font-size: 1.563rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}

.small {
    font-size: 0.8rem;
}


.active-link {
    color: var(--primary-new);
    text-decoration: underline;
}

/* Navbar */

.nav {
    background-color: var(--secondary-off-white);
}

.nav .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 4rem 0rem 1.5rem;
}

/* Logotyp i navbar */
.nav .nav-logo{
    margin-left: 2rem;
    height: 10vh;
}

.nav .nav-icons img {
  height: 4vh;
}


.nav .nav-links {
    display: flex;
    color: var(--primary-new);
    padding: 12px 0px 0px 0px;
}

.nav .nav-links li {
    padding: 0px 15px 0px 15px;
    list-style: none;
}

.nav .nav-links a {
    color: var(--primary-new);
    text-decoration: none;
    font-size: 1.1rem;
    margin: 16px;

}

.nav .nav-links a:hover {
    text-decoration: underline;
}

.nav .nav-links a:active {
    color: var(--primary-new);
    text-decoration: underline;
}

/* Inställningar till hero bilden*/

.hero-image {
  /* background-image: url(/visuals/img/marcus-ganahl-PoSC-L_4ydU-unsplash.jpg); */
  background-image: url(/visuals/img/gronatryck_hero_2.jpg);
  background-size: cover;
  background-position: 10% 40%;
  width: 100%;
  height: 90vh;
}

.hero-text-container {
  width: 90vh;
  position: absolute;
  top: 50%; 
  left: 42%;
  transform: translateY(-40%);
  margin-top: 6rem;
  margin-right: 4rem;
  /* border: 1px solid pink; */
}


.button-primary {
  display: inline;  
  border: none;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  background-color: var(--primary-new);
  text-align: right;
}

.button-primary p, .arrow-button {
    display: inline-block;
    margin: 0;
}

/* Nyheter sektionen*/

.background-block {
  background-color: var(--monochrome-medium);
  padding: 2%;
  width: 100%;
  height: 120vh;
}

.news {
  margin: 0rem 1.1rem 0rem 1.1rem;
}

.news-container {
  display: flex;
  gap: 2%;
}

.news-img {
    width: 45%;
    flex: 1;
}

/* .left-header {
    position: absolute;
    bottom: 80px;
    left: 30px;
    width: 80%;
    padding-left: 20px;
}

.right-header {
    position: absolute;
    bottom: 80px;
    left: 30px;
    width: 80%;
    padding-left: 20px;
}

.img-container .button-position {
    position: absolute;
    bottom: 30px;
    right: 100px;
}

.arrow-button {
    transform: rotate(180deg);
    margin: 0px 0px 0px 5px;
} */


/* Populära produkter */

.products-section {
    margin: 3rem 3rem 4rem 3rem;
}

.card-container {
    display: flex;
    gap: 2%;

}

.card {
    border: 1px solid var(--monochrome-light);

}

.card-img-container {
    position: relative;
}

.card-img-container .card-news-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-img-container .card-heart-icon {
    position: absolute;
    top: 0px;
    right: -10px ;
}

.card-body .text-sm {
    font-size: 0.85rem;
}

.card-body .text-xs {
    font-size: 0.75rem;  
}

.card-dot-container {
    display:flex;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin: 0px 5px 0px 0px;
    transform: translateY(1px);
    border: none;
}

.dot-color-1 {
    background-color: #E2EBEA ;
}

.dot-color-2 {
    background-color: #1C4230 ;
}

.dot-color-3 {
    background-color: #D4AF85;
}

.dot:focus {
    border: 1px solid var(--monochrome-darkest);
    padding: 1px;
    background-clip: content-box;
}

.card-price-container {
    display: flex;
    justify-content: space-between;
}

/* Swirl pattern  */



/* Hållbart */

.card-section {
    margin: 0rem 3rem 3rem 3rem;
}

.card-container {
    display: flex;
    gap: 2%;
}

.card-container .card {
    flex: 1;
    width: 18rem;
}

.card-body-color {
    background-color: var(--primary-new);
}

/* Vilka är vi? */

.card-section-container {
  display: flex;
  flex-direction: column;
   align-items: center; 
  justify-content: center; 
}

.card-section-info {
  width: 80%;
}

.card-section-info p {
  width: 70%;
}


.thumbnail-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px; 
  margin-bottom: 2rem;
  width: 80%;
  justify-content: center;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
 }

 .thumbnail-image--large {
  grid-row: 1 / span 2; 
  width: 100%;
  height: 100%;
  /* object-fit: cover;  */
 }


/* Recensioner */

.review-section {
    margin: 0rem 3rem 3rem 3rem;
    
}

.review-card-container {
    display: flex;
    gap: 2%;
}

.review-card {
    width: 35%;
    padding: 3rem 1.5rem 3rem 1.5rem;
    border: solid 3px var(--primary-new);
}

/* Footer */
.footer-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  height: 50vh;
  background-color: var(--primary-green);
}
.footer-content  {
  display: flex;
  flex-direction: column;

}
.footer-logo {
  height: 15vh;
}

.footer-icons {
  /* border: 1px solid pink; */
  display: flex;
  height: 5vh;
}

.footer-icons-small {
  height: 3.1vh;
  margin-right: 0.9rem;
}

.footer-icons-medium {
  height: 4vh;
}

.footer-icons-container {
  display: flex;
  flex-direction: row; 
  gap: 1rem; 
  margin-top: 1rem;
  justify-content: center;
}

.footer-content p {
  color: var(--secondary-off-white);
  display: flex; 
  align-items: center; 
  margin-bottom: 0.3rem;
}

.footer-copyright p {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  color: var(--primary-green);
}

.footer-content .links {
  color:var(--secondary-off-white);
  margin: 0.3rem;
  
}
.footer-content .links:hover {
  color:var(--primary-new);
}

.block-line {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.address-wrapper img {
  margin-right: 0.5rem;
}

.footer-content .footer-links-heading {
  margin-bottom: 1rem;

}




