:root {
  /* Färgpalett */
  --primary-green: #1d4231;
  --secondary-green: #44725a;
  --secondary-lightgreen: #b5d4ae;
  --secondary-brown: #a98968;
  --secondary-off-white: #faf7eb;
  --primary-new: #44725a;

  /* Monokrom */
  --monochrome-darkest: #101e17;
  --monochrome-dark: #192b22;
  --monochrome-medium: #374f43;
  --monochrome-light: #d1dbd6;
  --monochrome-lightest: #f0f2f1;
  --monochrome-white: #ffffff;
}

/* Förinställningar för hela sidan*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-off-white);
  font-family: "stolzl", sans-serif;
}

/* Färg klasser för text */
.text-color-offwhite {
  color: var(--secondary-off-white);
}

.text-color-primary {
  color: var(--primary-new);
}

.text-color-medium {
  color: var(--monochrome-medium);
}

.text-color-dark {
  color: var(--monochrome-dark);
}

.text-color-dark-2 {
  color: var(--primary-green);
}

/* Border-radius klass*/
.round-corner {
  border-radius: 10px;
}

/* font stilar */

/* Textstyles för rubriker och brödtext*/
h1 {
  font-size: 3.815rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 3.052rem;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 2.441rem;
}
h4 {
  font-size: 1.953rem;
}
h5 {
  font-size: 1.563rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}

.small {
  font-size: 0.8rem;
}

/* Navbar */

.nav {
  background-color: var(--secondary-off-white);
  padding: 0rem 4rem 0rem 1.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logotyp i navbar */
.nav-logo {
  height: 10vh;
}

.nav-icons img {
  height: 4vh;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 18px 0px 0px 0px;
}

.nav-links a {
  color: var(--primary-new);
  text-decoration: none;
  font-size: 1.1rem;
  margin: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links a:active {
  color: var(--primary-new);
  text-decoration: underline;
}

/* Navbar Dropdown */

.dropdown{
    display: none;
    position: relative;
}

.dropdown-content {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    gap: 0.5rem;
    padding: 2rem 2rem 10rem 2rem;
    background-color: var(--primary-new);
    z-index: 1;
}

.dropdown-links {
    width: 10rem;
}

.dropdown-links a {
    display: block;
    color: var(--secondary-off-white);
    margin: 0;
}

.dropdown-links a:active, 
.dropdown-links a:hover {
    color: var(--secondary-off-white);
    text-decoration: underline;
}

.dropdown-subcategory{
    display: none;
}

.dropdown-subcategory.open {
    display: block;
}

.dropdown-subcategory a {
    font-size: 0.8rem;
}

/* Inställningar till hero bilden*/

.hero-image {
  /* background-image: url(/visuals/img/marcus-ganahl-PoSC-L_4ydU-unsplash.jpg); */
  background-image: url(/visuals/img/gronatryck_hero_2.jpg);
  background-size: cover;
  background-position: 10% 40%;
  width: 100%;
  height: 90vh;
}

.hero-text-container {
  width: 90vh;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translateY(-40%);
  margin-top: 6rem;
  margin-right: 4rem;
}

.button-primary {
  display: inline;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: var(--primary-new);
  text-align: right;
}

.button-primary p,
.arrow {
  display: inline-block;
  margin: 0;
}

/* Nyheter sektionen*/

.background-block {
  background-color: var(--monochrome-medium);
  padding: 2%;
  width: 100%;
  height: 110vh;
}

.news {
  margin: 0rem 1.1rem 0rem 1.1rem;
}

.news-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.card-img-container-one {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 1;
}

.card-img-container-two {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 2;
}

.news-img {
  width: 100%;
}

.news-img-header {
  position: absolute;
  bottom: 100px;
  left: 30px;
  width: 80%;
  padding-left: 20px;
}

.news-button {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.news-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 7%;
}

.arrow {
  margin: 0px 0px 0px 5px;
  background: transparent;
  border: none;
}

.arrow--small {
  width: 0.9rem;
}

.arrow--medium {
  width: 2.6rem;
}

.arrow--right {
  transform: rotate(270deg);
}

.arrow--left {
  transform: rotate(90deg);
}

/* Populära produkter */

.card {
  border: 1px solid var(--monochrome-light);
}

.card-popular--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.card .card__image-container--popular {
  position: relative;
}

.card__image-container--popular .card-news-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card__image-container--popular button {
  background: transparent;
  border: none;
  gap: 0;
  margin: 0;
}

.card__image-container--popular .card-heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-body .text-sm {
  font-size: 0.85rem;
}

.card-body .text-xs {
  font-size: 0.75rem;
}

.card-dot-container {
  display: flex;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  margin: 0px 5px 0px 0px;
  transform: translateY(1px);
  border: none;
}

.dot-color-1 {
  background-color: #e2ebea;
}

.dot-color-2 {
  background-color: #1c4230;
}

.dot-color-3 {
  background-color: #d4af85;
}

.dot:focus {
  border: 1px solid var(--monochrome-darkest);
  padding: 1px;
  background-clip: content-box;
}

.card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__body--popular {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.card__image-container--popular {
  width: 100%;
}

.card__image--popular {
  width: 100%;
}

/* Swirl pattern  */
.swirl-pattern {
  height: 60vh;
  background-image: url(/visuals/patterns/swirl_hållbart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

/* Hållbart */

.card-section {
  margin: 0rem 3rem 3rem 3rem;
  position: relative;
}

.card-section .card-section-info {
  width: 50%;
}

.card-container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  flex: 1;
}

.card-container .card {
  flex: 1;
  min-width: 15rem;
  max-width: calc(25% - 2%);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__image-container {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .card__image-container {
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__image--gots {
  background-image: url(/visuals/img/gots_card_image_icon.jpg);
}

.card__image--enviroment {
  background-image: url(/visuals/img/enviroment_card_image_icon.jpg);
}

.card__image--print {
  background-image: url(/visuals/img/print_card_image_icon.jpg);
}

.card__image--workingconditions {
  background-image: url(/visuals/img/workingconditions_card_image_icon_.jpg);
}

.card-body-color {
  background-color: var(--primary-new);
}

.arrow--right-position {
  transform: rotate(270deg);
  width: 1.2rem;
  margin: 0.7rem;
  height: auto;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

/* Vilka är vi? */

.card-section-two {
  height: 110vh;
  margin-top: 4rem;
  background-image: url(/visuals/patterns/swirl_whoarewe.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  margin-bottom: 2rem;
}

.card-section-two-container {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-section-two-info {
  width: 80%;
}

.card-section-two-info p {
  width: 50%;
}

/* Thumbnail Grid Container */
.thumbnail-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  height: auto;
  max-width: 80vw;
  position: relative;
}

/* Thumbnail Image Styling */
.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 20s ease-in-out, opacity 20s ease-in-out;
}

/* Large Image */
.thumbnail-image--large {
  grid-row: 1 / span 2;
  opacity: 1;
}

/* Image Positions for Animation */
.thumbnail-image:nth-child(1) {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
  animation: moveImage1 35s infinite ease-in-out;
}

.thumbnail-image:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  animation: moveImage2 35s infinite ease-in-out;
}

.thumbnail-image:nth-child(3) {
  grid-row: 2 / 2;
  grid-column: 2 / 3;
  animation: moveImage3 35s infinite ease-in-out;
}

/* Animations for swapping images within their grid layout */
@keyframes moveImage1 {
  0%,
  100% {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
  33% {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  66% {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
}

@keyframes moveImage2 {
  0%,
  100% {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  33% {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
  66% {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
}

@keyframes moveImage3 {
  0%,
  100% {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
  33% {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
  66% {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

/* Recensioner */

.review-section {
  margin: 0rem 3rem 3rem 3rem;
}

.review-card-container {
  display: flex;
  gap: 2%;
}

.review-card {
  margin-top: 1rem;
  width: 35%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border: solid 3px var(--primary-new);
}

/*----------- Footer -------------*/
.footer-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  height: 50vh;
  flex-wrap: wrap;
  background-color: var(--primary-green);
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  height: 15vh;
}

.footer-icons {
  display: flex;
  height: 5vh;
}

.footer-icons-small {
  height: 3.1vh;
  margin-right: 0.9rem;
}

.footer-icons-medium {
  height: 4vh;
}

.footer-icons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.footer-content p {
  color: var(--secondary-off-white);
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.footer-copyright p {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  color: var(--primary-green);
}

.footer-content .links {
  color: var(--secondary-off-white);
  margin: 0.3rem;
}
.footer-content .links:hover {
  color: var(--primary-new);
}

.block-line {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.footer-content .footer-links-heading {
  margin-bottom: 1rem;
}

.hidden-links {
  display: flex;
  flex-direction: column;
}

.toggle-links {
  display: none;
}

/* Mobile screens media queries */
@media screen and (max-width: 768px) {
  .footer-container {
    height: 100vh;
    flex-direction: column;
  }

  .footer-content {
    margin-left: 1.6rem;
  }
  .footer-logo {
    height: 10vh;
  }

  .footer-icons {
    height: 3vh;
  }

  .footer-icons-small {
    height: 1.7vh;
    margin-right: 0.9rem;
  }

  .footer-icons-medium {
    height: 2.1vh;
  }

  .footer-icons-container {
    margin-bottom: 1.2rem;
  }

  .footer-links-heading {
    font-size: 1.3rem;
  }

  /* Adjust order for specific footer sections */
  .footer-content:nth-child(1) {
    /* "GT logo" section */
    order: 5;
  }

  .footer-content:nth-child(2) {
    /* "Contact" section */
    order: 1;
  }

  .footer-content:nth-child(3) {
    /* "Read more" section */
    order: 3;
  }

  .footer-content:nth-child(4) {
    /* Extra links section */
    order: 2;
  }
  .footer-content:nth-child(5) {
    /* Social media section */
    order: 4;
  }

  .hidden-links {
    display: none;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .toggle-links {
    display: block;
    background-color: transparent;
    color: var(--secondary-off-white);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
