:root {
  /* Färgpalett */
  --primary-green: #1d4231;
  --secondary-green: #44725a;
  --secondary-lightgreen: #b5d4ae;
  --secondary-brown: #a98968;
  --secondary-off-white: #faf7eb;
  --primary-new: #44725a;

  /* Monokrom */
  --monochrome-darkest: #101e17;
  --monochrome-dark: #192b22;
  --monochrome-medium: #374f43;
  --monochrome-light: #d1dbd6;
  --monochrome-lightest: #f0f2f1;
  --monochrome-white: #ffffff;
}

/* Förinställningar för hela sidan*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-off-white);
  font-family: "stolzl", sans-serif;

}

/* Färg klasser för text */
.text-color-offwhite {
  color: var(--secondary-off-white);
}

.text-color-primary {
  color: var(--primary-new);
}

.text-color-medium {
  color: var(--monochrome-medium);
}

.text-color-dark {
  color: var(--monochrome-dark);
}

.text-color-dark-2 {
  color: var(--primary-green);
}

/* Border-radius klass*/
.round-corner {
  border-radius: 10px;
}

/* font stilar */

/* Typescale för rubriker och brödtext */
h1 {
  /* 61px */
  font-size: 3.815rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  /* 48px */
  font-size: 3.052rem;
  font-weight: 700;
  font-style: normal;
}

h3 {
  /* 39px */
  font-size: 2.441rem;
  font-weight: 900;
}
h4 {
  /* 31px */
  font-size: 1.953rem;
}
h5 {
  /* 25px */
  font-size: 1.563rem;
}
h6 {
  /* 20px */
  font-size: 1.25rem;
}
p {
  /* 16px */
  font-size: 1rem;
}

.small {
  /* 12px */
  font-size: 0.8rem;
}

/* Spacing and layout sizes  */
.spacing--xs {
  /* 8pt */
  /* 0.6669rem */
}
.spacing--s {
  /* 16pt */
  /* 1.3331rem */
}
.spacing--m {
  /* 24pt */
  /* 2rem */
}
.spacing--l {
  /* 32pt */
  /* 2.6669rem */
}
.spacing--xl {
  /* 48pt */
  /* 4rem */
}
.spacing--xxl {
  /* 80pt */
  /* 6.6662rem */
}

a {
  text-decoration: none;
}

/* Navbar */

.nav {
  background-color: var(--secondary-off-white);
  padding: 0rem 4rem 0rem 1.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logotyp i navbar */
.nav-logo {
  margin-left: 3rem;
  height: 10vh;
  cursor: pointer;
}

.nav-icons img {
  width: 6vh;
  padding-left: 1.5rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 18px 0px 0px 0px;
}

.nav-links a {
  color: var(--primary-new);
  text-decoration: none;
  font-size: 1.1rem;
  margin: 1.2rem;
  white-space: nowrap;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links a:active {
  color: var(--primary-new);
  text-decoration: underline;
}

/* hide on desktop */
.hamburger-icon {
  display: none;
}

/* Navbar Dropdown */

.dropdown {
  display: none;
  position: relative;
}

.dropdown-content {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 1rem;
  gap: 0.5rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--primary-new);
  opacity: 90%;
  z-index: 1;
}

.dropdown-links {
  width: 12rem;
}

.dropdown-links a {
  display: block;
  color: var(--secondary-off-white);
  margin: 0;
}

.dropdown-links a:active,
.dropdown-links a:hover {
  color: var(--secondary-off-white);
  text-decoration: underline;
}

.dropdown-subcategory {
  display: none;
}

.dropdown-subcategory.open,
.dropdown.open {
  display: block;
}

.dropdown-subcategory a {
  font-size: 0.8rem;
}

/* Inställningar till hero slideshow */
.hero-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-slideshow {
  width: 100%;
  height: 90vh;
  position: relative;
}

.hero-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.hero-slide.active {
  display: block;
}

.hero-slides {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text container for overlay text */
.slide-text {
  position: absolute;
  bottom: 8rem;
  left: 40rem;
}

.slide-text h1 {
  width: 100%;
}
.slide-text p {
  width: 80%;
}

.button-primary {
  display: inline;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: var(--primary-new);
  text-align: center;
}
.button-secondary {
  display: inline;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: var(--secondary-off-white);
  border: 2px solid var(--primary-new);
  text-align: right;
  color: var(--primary-green);
}

.button-primary p,
.arrow {
  display: inline-block;
  margin: 0;
}

.hero-image .arrow {
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
}

.hero-image .arrow--left {
  left: 2rem;
}

.hero-image .arrow--right {
  right: 2rem;
}

.hero-image .arrow:hover {
  color: var(--monochrome-darkest);
}

.pagination-bullets {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  transform: translateX(-50%);
}

.pagination-bullet {
  background-color: var(--secondary-off-white);
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.pagination-bullet.active {
  background-color: #717171;
}

.chat-icon {
  position: fixed;    
  bottom: 20px;          
  right: 20px;           
  width: 3.5rem;         
  height: 3.5rem;   
  border-radius: 50%;        
  cursor: pointer;       
  z-index: 1000;         
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-new);
}
.chat-icon img {
 width: 5vh;
}



/*--------------- Nyheter sektionen -------------*/

.background-block {
  padding: 2%;
  width: 100%;
  height: 120vh;
  background-image: url(/visuals/patterns/swirl/swirl_1_ny_green_1.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 3rem;
  background-size: 180rem;
  margin-bottom: 30rem;
}

.news {
  margin: 0rem 1.1rem 0rem 1.1rem;
}

.news-container {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 2%;
}

/* Heading Styling */
.news-heading {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  text-align: left;
  color: var(--primary-green);
}

/* Large Image */
.card-img-container-one {
  grid-row: 2 / span 2;
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  object-fit: cover;
}

/* Image Positions for image 2 and 3 */
.card-img-container-two {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.card-img-container-three {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-img-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 70%;
}

.card-img-container-two .news-img-text,
.card-img-container-three .news-img-text {
  bottom: 17%;
  left: 7%;
}

.news-button {
  position: absolute;
  cursor: pointer;
  z-index: 11;
}

/* Pilarna */
.arrow {
  margin: 0px 0px 0px 5px;
  background: transparent;
  border: none;
}

.arrow--small {
  width: 0.9rem;
}

.arrow--medium,
.arrow--medium img {
  width: 2rem;
}

.arrow--right {
  transform: rotate(270deg);
}

.arrow--left {
  transform: rotate(90deg);
}

/* Populära produkter */

.card {
  border: 1px solid var(--monochrome-light);
}

.card-slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  gap: 2%;
}

.card-container--popular .card {
  flex: 0 0 calc(25% - 2%);
}

.card-slider-heading {
  margin-left: 4rem;
  font-weight: 900;
  margin-bottom: 1.4rem;
}

.card-news-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card__image-container--popular button {
  background: transparent;
  border: none;
  gap: 0;
  margin: 0;
}

.card-body .text-sm {
  font-size: 0.85rem;
}

.card-body .text-xs {
  font-size: 0.75rem;
}

.card-dot-container {
  display: flex;
}

.dot {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 20px;
  margin: 0px 5px 0px 0px;
  transform: translateY(1px);
  border: none;
}

/* .dot-color-1 {
  background-color: #e2ebea;
}

.dot-color-2 {
  background-color: #1c4230;
}

.dot-color-3 {
  background-color: #d4af85;
}
.dot-color-4 {
  background-color: #e14635;
}
.dot-color-5 {
  background-color: #1710a6;
} */

.dot--large {
  height: 15px;
  width: 20px;
  border-radius: 50%;
}

.dot:focus,
.dot-active {
  border: 1px solid var(--monochrome-darkest);
  padding: 1px;
  background-clip: content-box;
}

.card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Decorationslinjer */

.swirl-pattern {
  margin-top: 5rem;
  height: 55vh;
  transform: scaleX(-1);
  background-image: url(/visuals/patterns/swirl/swirl_1_ny_green_1.svg);
  background-repeat: no-repeat;
  background-size: 130vw;
  background-position: top;
}

.swirl-pattern--rotate {
  background-image: url(/visuals/patterns/swirl/swirl_1_ny_alternative_green.svg);
  background-size: 150vw;
  background-position: bottom;
  margin-bottom: 10rem;
}

.swirl-pattern--double {
  height: 60vh;
  background-image: url(/visuals/patterns/swirl/swirl_1_double_green.svg);
  background-repeat: no-repeat;
  background-size: 120vw;
  background-position: top;
}

/* Hållbart */

.card-section--two {
  margin: 0rem 3rem 3rem 3rem;
  position: relative;
}

.card-section--two .card-section-info {
  width: 60%;
}

.card-container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
}

.card-container .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 15rem;
}

.card-container--hallbart .card {
  max-width: calc(25% - 2%);
}

.card__image-container {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .card__image-container {
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__image--gots {
  background-image: url(/visuals/img/gots_card_image_icon.jpg);
}

.card__image--enviroment {
  background-image: url(/visuals/img/enviroment_card_image_icon.jpg);
}

.card__image--print {
  background-image: url(/visuals/img/print_card_image_icon.jpg);
}

.card__image--workingconditions {
  background-image: url(/visuals/img/workingconditions_card_image_icon_.jpg);
}

.card-body-color {
  background-color: var(--primary-new);
}

.arrow--right-position {
  transform: rotate(270deg);
  width: 1.2rem;
  margin: 0.7rem;
  height: auto;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

/*---------------- Vilka är vi? ------------------*/

.card-section-two {
  height: 110vh;
  margin-top: 8rem;
  background-image: url(/visuals/patterns/swirl/swirl_1_ny_alternative_green.svg);
  background-repeat: no-repeat;
  background-size: 250vh;
  background-position: center bottom;
  margin-bottom: 2rem;
}

.card-section-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-section-two-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 2rem;
  width: 80%;
}

.card-section-two-info p {
  text-align: left;
  width: 70%;
}

/* Thumbnail Grid Container */
.thumbnail-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  height: auto;
  max-width: 80vw;
  position: relative;
}

/* Thumbnail Image Styling */
.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 20s ease-in-out, opacity 20s ease-in-out;
}

/* Large Image */
.thumbnail-image--large {
  opacity: 1;
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
  animation: moveImage1 35s infinite ease-in-out;
}

/* Image Positions for image 2 and 3 */

.thumbnail-image:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  animation: moveImage2 35s infinite ease-in-out;
}

.thumbnail-image:nth-child(3) {
  grid-row: 2 / 2;
  grid-column: 2 / 3;
  animation: moveImage3 35s infinite ease-in-out;
}

/* Animations for swapping images within their grid layout */
@keyframes moveImage1 {
  0%,
  100% {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
  33% {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  66% {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
}

@keyframes moveImage2 {
  0%,
  100% {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  33% {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
  66% {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
}

@keyframes moveImage3 {
  0%,
  100% {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
  33% {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
  66% {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

/* Recensioner */

.review-section {
  margin: 0rem 3rem 3rem 3rem;
}

.review-card-container {
  display: flex;
  gap: 2%;
}

.review-card {
  margin-top: 1rem;
  width: 35%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border: solid 3px var(--primary-new);
}

.review-icons {
  display: flex;
  justify-content: end;
  gap: 1%;
  height: 3vh;
}

/*----------- Footer -------------*/
.footer-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  height: 50vh;
  flex-wrap: wrap;
  background-color: var(--primary-green);
  overflow: hidden;
}
.footer-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.footer-logo {
  height: 15vh;
}

.footer-icons {
  display: flex;
  height: 5vh;
}

.footer-icons-small {
  height: 3.1vh;
  margin-right: 0.9rem;
}

.footer-icons-medium {
  height: 4vh;
}

.footer-icons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.footer-content p {
  color: var(--secondary-off-white);
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.footer-copyright p {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  color: var(--primary-green);
}

.footer-content .links {
  color: var(--secondary-off-white);
  margin: 0.3rem;
}
.footer-content .links:hover {
  color: var(--primary-new);
}

.block-line {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.footer-content .footer-links-heading {
  margin-bottom: 1rem;
}

.hidden-links {
  display: flex;
  flex-direction: column;
}

.toggle-links {
  display: none;
}

/*----------- Smaller desktop  ---------------*/
@media screen and (max-width: 1200px) {
  /* hero slideshow text */
  .slide-text {
    position: absolute;
    bottom: 3rem;
    left: 25rem;
  }

  .slide-text h1 {
    width: 100%;
    font-size: 3.515rem;
  }
  .slide-text p {
    width: 80%;
  }

  /*  nav bar  */
  .nav-links a {
    font-size: 90%;
  }
  .nav-logo {
    height: 5vh;
  }

  .nav-icons img {
    /* width: 5vh; */
    cursor: pointer;
  }

  /* popular section */
  .card-slider .arrow {
    display: none;
  }

  .card-slider-container {
    margin: 1rem 1rem 1rem;
  }

  .card-container .card {
    margin-bottom: 1rem;
  }
  .card-slider-heading {
    margin-left: 0rem;
  }

  /* vilka är vi section */
  .thumbnail-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  .thumbnail-image--large {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    width: 100%;
    height: auto;
  }

  .thumbnail-image:nth-child(2),
  .thumbnail-image:nth-child(3) {
    width: 100%;
    height: auto;
  }

  .thumbnail-image:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .thumbnail-image:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  @keyframes moveImage1 {
    0%,
    100% {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
    }
    50% {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }
  }

  @keyframes moveImage2 {
    0%,
    100% {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }
    50% {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }
  }

  @keyframes moveImage3 {
    0%,
    100% {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }
    50% {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
    }
  }

  .thumbnail-image:nth-child(1) {
    animation: moveImage1 6s infinite;
  }

  .thumbnail-image:nth-child(2) {
    animation: moveImage2 6s infinite;
  }

  .thumbnail-image:nth-child(3) {
    animation: moveImage3 6s infinite;
  }

  .card-section-two {
    height: 150vh;
  }

  /* Hållbart  */
  .card-section--two .card-section-info {
    width: 70%;
  }
  /* Reviews */
  .review-icons {
    height: 2vh;
  }
  /* Mobile footer  */

  .footer-content {
    display: flex;
    font-size: 94%;
    flex-wrap: wrap;
  }
  .footer-content p {
    font-size: 97%;
  }
  .footer-logo {
    height: 10vh;
    width: 97%;
  }

  .footer-icons {
    height: 2.5vh;
  }
}

@media screen and (max-width: 992px) {
  /* Text container hero slideshow */
  .slide-text {
    bottom: 4rem;
    left: 15rem;
  }

  .slide-text h1 {
    justify-content: center;
    width: 80%;
    font-size: 2.815rem;
  }
  .slide-text p {
    justify-content: center;
    width: 70%;
  }

  .slide-text:first-child button {
    width: 30%;
    height: 10%;
  }

  /* news  */
  .news-img-text h3 {
    font-size: 2.01rem;
  }
  .news-img-text h5 {
    font-size: 1.1rem;
  }
  .news-img-text .button-primary {
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  }
  .news-img-text .button-primary p {
    font-size: 0.8rem;
  }

  /*  nav bar  */
  .nav-links a {
    font-size: 70%;
  }

  .nav-links .arrow {
    width: 10%;
  }

  .nav-icons img {
    width: 4vw;
  }

  /* Vilka är vi  */

  .card-section-two-info p {
    width: 100%;
  }

  .card-section-two {
    height: 120vh;
  }

  .review-card {
    width: 70%;
  }

  /* Mobile footer  */

  .footer-content {
    display: flex;
    font-size: 90%;
    flex-wrap: wrap;
  }
  .footer-content p {
    font-size: 95%;
  }
  .footer-logo {
    height: 10vh;
    width: 90%;
  }

  .footer-icons {
    height: 2vh;
  }
}

/*-------- Mobile screens media queries ------------*/
@media screen and (max-width: 768px) {
  /* Text container hero slideshow */
  .slide-text {
    top: 50%;
    left: 15%;
    height: 60%;
  }

  .slide-text h1 {
    width: 100%;
    font-size: 2.015rem;
  }
  .slide-text p {
    width: 85%;
  }

  /* nyheter */
  .news-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
  }

  /* Large Image */
  .card-img-container-one {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    width: 100%;
    height: auto;
  }

  /* Image Positions for image 2 and 3 */
  .card-img-container-two {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .card-img-container-three {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .card-section-two {
    height: 90vh;
  }

  /* Hållbart */

  .card-section--two h2 {
    font-size: 2.052rem;
  }
  .card-section--two .card-section-info {
    width: 100%;
  }

  /* Vilka är vi  */

  .card-section-two-info p {
    width: 100%;
  }

  .card-section-two {
    height: 120vh;
  }

  .card-section-two-info h2 {
    font-size: 2.052rem;
  }

  .review-card {
    width: 70%;
  }

  /* Mobile nav */
  .nav-logo {
    margin-left: 1rem;
    height: 7vh;
    cursor: pointer;
  }

  .nav-icons {
    display: flex;
  }

  .nav-icons img {
    width: 6vh;
    height: 2rem;
  }
  .nav-links .arrow {
    width: 4%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 7vh;
    left: 0;
    background-color: var(--primary-green);
    opacity: 90%;
    z-index: 2;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }

  .nav-links a,
  .dropdown-toggle {
    color: var(--secondary-off-white);
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid var(--secondary-off-white);
  }

  .nav-links a {
    color: var(--secondary-off-white);
    text-align: left;
    font-size: 1.1rem;
  }

  .dropdown-btn .arrow path {
    stroke: var(--secondary-off-white);
  }

  /* news section */
  .news-img-text h3 {
    font-size: 1.71rem;
  }
  .news-img-text h5 {
    font-size: 0.8rem;
  }

  /* Mobile navigation open style */

  .nav-links.open {
    display: flex;
  }

  .dropdown .dropdown.open {
    display: block;
    opacity: 1;
  }
  .dropdown-content {
    background: none;
    position: relative;
    border: none;
    padding: 0;
  }

  .dropdown-content.open {
    width: 100%;
    border: none;
  }

  .dropdown-links {
    display: none;
    border-bottom: none;
    width: 100%;
  }

  .dropdown-links.open {
    display: block;
  }

  .dropdown-links.open a {
    border-bottom: none;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  /* News */
  .card-img-container-two .news-img-text,
  .card-img-container-three .news-img-text {
    bottom: 27%;
    left: 10%;
  }

  /* Rotate the arrow when .rotated is added */
  .arrow.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .hamburger-icon {
    display: inline-flex;
  }

  .review-card p {
    font-size: 90%;
  }

  .review-icons {
    height: 1vh;
  }

  /*------------ Mobile footer */
  .footer-container {
    height: 100vh;
    flex-direction: column;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
    justify-content: center;
    width: 100%;
    margin-left: 3rem;
  }
  .footer-logo {
    height: 10vh;
    width: 90%;
  }
  .footer-content {
    font-size: 100%;
  }
  .footer-content p {
    font-size: 100%;
  }

  .footer-icons {
    height: 3vh;
  }

  .footer-icons-container--hallbart {
    width: 90%;
  }

  .footer-icons-small {
    height: 1.7vh;
    margin-right: 0.9rem;
  }

  .footer-icons-medium {
    height: 3.3vh;
  }

  .footer-icons-container {
    margin-bottom: 1.2rem;
  }

  .footer-icons-container-left {
    justify-content: left;
  }

  .footer-links-heading {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid var(--secondary-off-white);
  }

  /* Adjust order for specific footer sections */
  .footer-content:nth-child(1) {
    /* "GT logo" section */
    order: 5;
  }

  .footer-content:nth-child(2) {
    /* "Contact" section */
    order: 1;
  }

  .footer-content:nth-child(3) {
    /* "Read more" section */
    order: 3;
  }

  .footer-content:nth-child(4) {
    /* Extra links section */
    order: 2;
  }
  .footer-content:nth-child(5) {
    /* Social media section */
    order: 4;
  }

  .hidden-links {
    display: none;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .toggle-links {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--secondary-off-white);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  /* nav header */
  .slide-text {
    top: 40%;
    left: 15%;
    width: 80%;
  }

  .slide-text p {
    font-size: 0.9rem;
    width: 95%;
  }

  .swirl-pattern {
    height: 20vh;
  }
  /* Mobile footer  */
  .footer-logo {
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .footer-icons {
    height: 2vh;
  }
  .footer-icons-container--hallbart {
    width: 80%;
  }
}
