
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/cards";

// Test för att se att bootstrap fungerar, ändrar  två standard färger.
/*
$primary: teal;
$secondary: green;
*/

   /*Färgpalett */
   $primary-green: #1D4231;
   $secondary-green: #44725A;
   $secondary-lightgreen: #B5D4AE;
   $secondary-brown: #A98968;
   $secondary-off-white: #FAF7EB;

   /* Monokrom */
   $monochrome-darkest: #101E17;
   $monochrome-dark: #192B22;
   $monochrome-medium: #374F43;
   $monochrome-light: #D1DBD6;
   $monochrome-lightest: #F0F2F1;
   $monochrome-white: #FFFFFF;


/* Skriv npm run watch-css i intergrated terminal som öppnas i roten av filen 
för att kompilera om sass til css. */

// Majoriteten av bootstrap importeras men dessa kan brytas ned till flera imports sen.
