

@import url('https://use.typekit.net/zlf3fvp.css');

:root{
    --primary-color: rgba(28, 66, 48, 255);
    --secoundary-color: rgba(250, 247, 235, 255);
    
}

body{
    background-color: var(--secoundary-color);
    font-family: "stolzl", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25%;
    width: 50%;
}

.login-header{
    display: flex;
    font-size: 3em;
    margin-top: 13%;
    margin-left: 25%;
    color: var(--primary-color);
}

.priv-comp-btn{
    display: flex;
    margin-top: 3%;
    font-size: 25px;
}

.btn{
    padding: 10px 200px;
    font-size: 1em;
    background-color: var(--secoundary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: background-color 0.3s ease;
}

.btn.active{
    background-color: var(--primary-color);
    color: var(--secoundary-color);
}


.btn:hover{
    background-color: var(--primary-color);
    color: var(--secoundary-color);
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: var(--primary-color);
}

.input-field {
    padding: 10px;
    font-size: 1em;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 100%;
    margin-top: 0.5%;
}



.login-form span{
    font-size: 1em;
    margin-top: 5%;
}

.password-container {
    display: flex; /* Use flexbox for password row */
    justify-content: space-between; /* Space elements on the row */
    align-items: baseline; 
    width: 100%;
}

.submit{
    padding: 10px 200px;
    font-size: 1em;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secoundary-color);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 10%;
}

.submit:hover{
    background-color: var(--secoundary-color);
    color: var(--primary-color);
}
.register-link{
    margin-top: 3%;
}
 